{% extends 'base.html.twig' %}

{% block title %}Renvoie la liste des conteneurs!{% endblock %}

{% block body %}
<div class="example-wrapper">

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Capatain Name</th>
            <th>Container Limit</th>
        </tr>

        <tr>
            <td>
               {{ containership.id }}
            </td>
            <td>
                {{ containership.name }}
            </td>

            <td>
                {{ containership.captainName }}
            </td>
            <td>
                {{ containership.containerLimit }}
            </td>

        </tr>
    </table>
</div>
{% endblock %}
